{% extends 'base.html' %}

{% block title %}
<title>Student Helper – Welcome</title>
{% endblock %}

{% block content %}
<section>
    <h1>🧑‍🏫Welcome to Student Helper AI App!👋🎓</h1>
</section>

<section>
    <p>You’ve just stepped into an important stage of your learning
        journey.</p>
    <p>I’m here to help you prepare, practice, and show your best
            results.</p>
    <p><strong>Remember:</strong> every small step you take today brings you closer to success tomorrow.</p>
</section>
<section>
<div class="subjects">
    <p>Select your subject and let’s start your preparation:</p>
    <div>
        <a href="{{ url_for('home') }}" class="button">Mathematics</a>
        <a href="{{ url_for('home') }}" class="button">English</a>
    </div>

</div>
</section>
{% endblock %}

