{% extends 'base.html' %}

{% block title %}<Title>Student Helper – Welcome</Title>{% endblock %}

{% block content %}

    <div>
        <h4>
            Question {{ current_index + 1 }} from {{ total_questions }}
        </h4>
        <div>
            {{ question.question_text }}
        </div>
        <form action="{{ url_for('handle_math_answer', index=current_index) }}"
              method="POST">
            <input type="hidden" name="question_id" value="{{ question.id }}">

            <div class="options">
                {% set options = [("A", question.option_a), ("B",
                question.option_b),
                ("C", question.option_c), ("D", question.option_d)] %}
                {% for option_name, text in options %}

                    <input type="radio"
                           name="user_answer"
                           value="{{ option_name }}"
                           required>
                    <span>{{ text }}</span>

                <br>
                {% endfor %}
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>

    </div>
{% endblock %}
